/* 팝업 */
.pop-parent {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 999;
  transition: all 0.2s;
}

.pop-parent .m-ratioBox-wrap {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.pop-parent .m-ratioBox-wrap .m-ratioBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
/*
.m-ratioBox-wrap .m-ratioBox:after {content:""; width:83px; height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("../img/logo.png") no-repeat; background-size:100%; opacity:0.4;}
 */
.pop-parent .m-ratioBox-wrap img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.pop-parent .m-ratioBox-wrap iframe {
  width: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.pop-parent .swiper {
  overflow: hidden;
}
.pop-parent .swiper-container {
  overflow: visible;
}
.pop-parent .swiper-pagination {
  display: flex;
}
.pop-parent .pop {
  width: 400px;
  position: relative;
}
.pop-parent .pop .btn-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
  cursor: pointer;
}
.pop-parent .pop .btn-toggle img {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.3s;
}
.pop-parent .pop-btns {
  display: flex;
  position: absolute;
  top: 80px;
  left: -120px;
  background-color: #3c3c3c;
  opacity: 1;
  transform: rotate(90deg);
}
.pop-parent .pop-btns a {
  color: #fff;
  padding: 7px 14px;
}
.pop-parent .pop-btns #oneday_check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.pop-parent .pop-btns #oneday_check + label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.pop-parent .pop-btns #oneday_check + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.pop-parent .pop-btns #oneday_check:checked + label .icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/check_checked.png") no-repeat center center;
}

.pop-parent .pop .swiper-btn-control {
  width: 8px;
  height: 11px;
  margin-left: 16px;
  position: relative;
  top: 2px;
}
.pop-parent .swiper-control {
  display: flex;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
}
.pop-parent .swiper-control .swiper-pagination {
  position: static;
}
.pop-parent .swiper-pagination-bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 0;
  border: 1px solid white;
  opacity: 0.5;
  background-color: transparent;
}
.pop-parent .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.pop-parent.active {
  right: -400px;
}
.pop-parent.active .btn-toggle {
  transform: rotate(180deg);
}

.pop-parent .pop .btn-close {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .pop-parent .pop {
    width: 310px;
  }
  .pop-parent.active {
    right: -310px;
  }
}

@media screen and (max-width: 768px) {
  .pop-parent {
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop-parent .pop-btns {
    transform: translateY(100%);
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .pop-parent .pop .btn-toggle {
    display: none;
  }
  .pop-parent .pop .btn-close {
    display: block;
  }
}

.test-black-bg {
  max-width: 1920px;
  height: 980px;
  width: 100%;
  background-color: #3c3c3c;
}


