/* 팝업 */
.pop-parent {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 999;
  transition: all 0.2s;
}

.pop-parent .m-ratioBox-wrap {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.pop-parent .m-ratioBox-wrap .m-ratioBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
/*
.m-ratioBox-wrap .m-ratioBox:after {content:""; width:83px; height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("../img/logo.png") no-repeat; background-size:100%; opacity:0.4;}
 */
.pop-parent .m-ratioBox-wrap img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.pop-parent .m-ratioBox-wrap iframe {
  width: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.pop-parent .swiper {
  overflow: hidden;
}
.pop-parent .swiper-container {
  overflow: visible;
}
.pop-parent .swiper-pagination {
  display: flex;
}
.pop-parent .pop {
  width: 400px;
  position: relative;
}
.pop-parent .pop .btn-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
  cursor: pointer;
}
.pop-parent .pop .btn-toggle img {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.3s;
}
.pop-parent .pop-btns {
  display: flex;
  position: absolute;
  top: 80px;
  left: -120px;
  background-color: #3c3c3c;
  opacity: 1;
  transform: rotate(90deg);
}
.pop-parent .pop-btns a {
  color: #fff;
  padding: 7px 14px;
}
.pop-parent .pop-btns #oneday_check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.pop-parent .pop-btns #oneday_check + label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.pop-parent .pop-btns #oneday_check + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.pop-parent .pop-btns #oneday_check:checked + label .icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/check_checked.png") no-repeat center center;
}

.pop-parent .pop .swiper-btn-control {
  width: 8px;
  height: 11px;
  margin-left: 16px;
  position: relative;
  top: 2px;
}
.pop-parent .swiper-control {
  display: flex;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
}
.pop-parent .swiper-control .swiper-pagination {
  position: static;
}
.pop-parent .swiper-pagination-bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 0;
  border: 1px solid white;
  opacity: 0.5;
  background-color: transparent;
}
.pop-parent .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.pop-parent.active {
  right: -400px;
}
.pop-parent.active .btn-toggle {
  transform: rotate(180deg);
}

.pop-parent .pop .btn-close {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .pop-parent .pop {
    width: 310px;
  }
  .pop-parent.active {
    right: -310px;
  }
}

@media screen and (max-width: 768px) {
  .pop-parent {
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop-parent .pop-btns {
    transform: translateY(100%);
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .pop-parent .pop .btn-toggle {
    display: none;
  }
  .pop-parent .pop .btn-close {
    display: block;
  }
}

@font-face {
  font-family: S-CoreDream3;
  src: url(/0-기본폼/Project/fonts/SCDream3.otf);
}

@font-face {
  font-family: S-CoreDream4;
  src: url(/0-기본폼/Project/fonts/SCDream4.otf);
}

@font-face {
  font-family: S-CoreDream5;
  src: url(/0-기본폼/Project/fonts/SCDream5.otf);
}

@font-face {
  font-family: S-CoreDream6;
  src: url(/0-기본폼/Project/fonts/SCDream6.otf);
}

@font-face {
  font-family: S-CoreDream7;
  src: url(/0-기본폼/Project/fonts/SCDream7.otf);
}

/*성철*/
/*PC*/
/* body {
    width: 1920px;
    height: 980px;
}

#wrap {
    width: 1920px;
    height: 980px;
} */

#wrap {
  width: 100%;
  height: 100%;
  /* height: 980px; */
  margin: 0 auto;


  /*smooth wrapper*/
  overflow: visible;
  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */

  background-image:
    linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* 메인 사진 */

.main-image {
  position: relative;
  width: 100%;
  height: 980px;
  object-fit: contain;
}

.main-image > img {
  width: 100%;
  height: 100%;
}

.main-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* .main-image-smallText {
    position: absolute;
    top: 321px;
    left: 50%;
    width: 224px;
    height: 28px;
    transform: translate(-50%);
} */
.main-image-smallText {
  display: block;
  width: 224px;
  height: auto;
  margin: 0px auto;
}

/*big text 애니메이션 부분*/

.main-image-bigText {
  width: 100%;
  text-align: center;
  transform: scale(0.94);
  margin-top: 34px;
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.main-image-bigText > span {
  font-family: S-CoreDream6;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.34px;
  text-align: center;
  color: #fff;

  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/*big text 애니메이션 부분 끝*/

.go-homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: solid 1px #fff;
  
  font-family: S-CoreDream6;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  margin: 64px auto 0px auto;
  color: #fff;
}

.go-homePage a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  padding: 14px 21px;
}

/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #484848;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.com-info-div {
  margin-top: 57px;
  margin-left: 240px;
}

.com-info-logo {
  width: 206px;
  height: 26px;
}

.com-info {
  margin-top: 32px;
  opacity: 0.7;
  font-family: S-CoreDream4;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.copyright {
  padding-top: 32px;
  padding-bottom: 40px;
  height: auto;
  opacity: 0.4;
  font-family: S-CoreDream4;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 38px;
  margin-right: 240px;
}

.nav-sub a,
.nav-text a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}

.nav-sub {
  font-family: S-CoreDream5;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.line {
  width: 128px;
  height: 1px;
  margin-top: 14.5px;
  margin-bottom: 13.5px;
  background-color: #fff;
}

.nav-text {
  font-family: S-CoreDream3;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 14px;
}











/* MOBILE 375*812 */

@media screen and (max-width: 600px) {
  .pop-parent {
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop-parent .pop-btns {
    transform: translateY(100%);
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .pop-parent .pop .btn-toggle {
    display: none;
  }
  .pop-parent .pop .btn-close {
    display: block;
  }

  .main-image {
    position: relative;
    width: 100%;
    height: 812px;
    object-fit: contain;
  }

  .main-image > img {
    width: 100%;
    height: 100%;
  }

  .main-image-smallText {
    position: absolute;
    top: 114px;
    left: 50%;
    width: 170px;
    height: 21.3px;
    transform: translate(-50%);
  }

  /*big text 애니메이션 부분*/

  .main-image-bigText {
    position: absolute;
    margin-top: 32.3px;
    top: 258px;
    left: 0;
    right: 0;
    width: 312px;
    height: 90px;
    font-family: S-CoreDream7;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.19px;
    text-align: center;
    color: #fff;
    transform: scale(0.94);

    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  .main-image-bigText > span {
    font-family: S-CoreDream7;
    font-size: 32px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.19px;
    text-align: center;
    color: #fff;

    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }

  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  /*big text 애니메이션 부분 끝*/

  .go-homePage {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    object-fit: contain;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 206px;
    height: 51px;
    border: solid 1px #fff;

    /* padding: 14px 20px 14px 20px; */

    font-family: S-CoreDream6;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .go-homePage a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
  }

  /* footer */

  .footer {
    width: 100%;
    height: 233px;
    background-color: #484848;

    /* display: flex;
        flex-direction: row; */
    justify-content: center;
  }
  .com-info-div {
    /* position: relative;
        left: 50%; */
    /* top: 57px;
        width: 247px; */

    margin-top: 32px;
  }

  .com-info-logo {
    width: 206px;
    height: 26px;
  }

  .com-info {
    margin-top: 32px;
    opacity: 0.7;
    font-family: S-CoreDream4;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .copyright {
    margin-top: 32px;
    opacity: 0.4;
    font-family: S-CoreDream4;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .nav {
    /* display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 38px;
        margin-right: 240px; */
    display: none;
  }
}
