/* 팝업 */
.pop-parent {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 999;
  transition: all 0.2s;
}

.pop-parent .m-ratioBox-wrap {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.pop-parent .m-ratioBox-wrap .m-ratioBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
/*
.m-ratioBox-wrap .m-ratioBox:after {content:""; width:83px; height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("../img/logo.png") no-repeat; background-size:100%; opacity:0.4;}
 */
.pop-parent .m-ratioBox-wrap img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.pop-parent .m-ratioBox-wrap iframe {
  width: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.pop-parent .swiper {
  overflow: hidden;
}
.pop-parent .swiper-container {
  overflow: visible;
}
.pop-parent .swiper-pagination {
  display: flex;
}
.pop-parent .pop {
  width: 400px;
  position: relative;
}
.pop-parent .pop .btn-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
  cursor: pointer;
}
.pop-parent .pop .btn-toggle img {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.3s;
}
.pop-parent .pop-btns {
  display: flex;
  position: absolute;
  top: 80px;
  left: -120px;
  background-color: #3c3c3c;
  opacity: 1;
  transform: rotate(90deg);
}
.pop-parent .pop-btns a {
  color: #fff;
  padding: 7px 14px;
}
.pop-parent .pop-btns #oneday_check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.pop-parent .pop-btns #oneday_check + label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.pop-parent .pop-btns #oneday_check + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.pop-parent .pop-btns #oneday_check:checked + label .icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/check_checked.png") no-repeat center center;
}

.pop-parent .pop .swiper-btn-control {
  width: 8px;
  height: 11px;
  margin-left: 16px;
  position: relative;
  top: 2px;
}
.pop-parent .swiper-control {
  display: flex;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
}
.pop-parent .swiper-control .swiper-pagination {
  position: static;
}
.pop-parent .swiper-pagination-bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 0;
  border: 1px solid white;
  opacity: 0.5;
  background-color: transparent;
}
.pop-parent .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.pop-parent.active {
  right: -400px;
}
.pop-parent.active .btn-toggle {
  transform: rotate(180deg);
}

.pop-parent .pop .btn-close {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .pop-parent .pop {
    width: 310px;
  }
  .pop-parent.active {
    right: -310px;
  }
}

@media screen and (max-width: 768px) {
  .pop-parent {
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop-parent .pop-btns {
    transform: translateY(100%);
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .pop-parent .pop .btn-toggle {
    display: none;
  }
  .pop-parent .pop .btn-close {
    display: block;
  }
}

/* FONT */
/*FONT_HOUSE*/
@font-face {
  font-family: pretendard-l;
  src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
  font-family: pretendard-m;
  src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
  font-family: pretendard-r;
  src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family: pretendard-b;
  src: url(../fonts/Pretendard-Bold.otf);
}

@font-face {
  font-family: ivy-r;
  src: url(../fonts/IvyMode-Regular.ttf);
}

/* fonts */
.font-pl {
  font-family: pretendard-l;
}
.font-pm {
  font-family: pretendard-m;
}
.font-pr {
  font-family: pretendard-r;
  font-weight: 500;
}
.font-pb {
  font-family: pretendard-b;
}
.font-ir {
  font-family: ivy-r;
}

/* topmenu */
.sns-open {
  position: fixed;
  bottom: 112px;
  right: 48px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #30271c;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s;
  z-index: 5;
}
.sns-open i {
  color: #fff;
  font-size: 24px;
}

.Top_Scroll_btn {
  position: fixed;
  bottom: 48px;
  right: 48px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #afa9a4;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.Top_Scroll_btn.active {
  opacity: 1;
}

.Top_Scroll_btn i {
  font-size: 24px;
  color: #fff;
  z-index: 2;
}

.Top_Scroll_btn .progress_bar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.Top_Scroll_btn .progress_bar::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #afa9a4;
  border-radius: 100%;
}

.sns-btn-wrap.active {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  bottom: 112px;
  right: 48px;
  z-index: 2;
}

.sns-btn-wrap.active .sns-btn {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #75624d;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 2;
  transition: 0.3s;
}
.sns-btn-wrap.active .sns-btn img {
  width: 27px;
  height: 27px;
}
.sns-btn-wrap.active .sns-btn .sns-btn-text {
  display: none;
}

.sns-btn-wrap.active:hover .sns-btn {
  width: 150px;
  border-radius: 30px;
  padding: 15px;
  justify-content: left;
  gap: 8px;
}
.sns-btn-wrap.active:hover .sns-btn .sns-btn-text {
  display: block;
  font-size: 15px;
  color: #fff;
}

.sns-btn-wrap.disable {
  display: none;
}

/* 테스트 */
/* body { 
  height: 1920px;
  background-color: #7a736e;
} */

*{
  word-break: keep-all;
}

/* header */
#header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}
#header .logo-img-wrap {
  margin-top: 24px;
  width: 148px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#header .logo-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header .header-main-nav {
  position: sticky;
  top: 20px;
  z-index: 2;
  width: fit-content;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header-main-nav .main-nav-btn a {
  padding: 24px 34px;
  font-size: 17px;
  color: #fff;
}

#header .menu {
  position: fixed;
  top: 24px;
  right: 16px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
}

#header .menu .lang-wrap {
  width: 32px;
  height: 32px;
}
#header .menu .lang-wrap a img {
  height: 32px;
  border-radius: 50%;
}
#header .menu .ham-menu-img-wrap {
  margin-left: 16px;
}

/* 살짝 애매함 */
#header .menu .ham-menu-img-wrap i {
  font-size: 35px;
  color: #ffffff;
}

.swiper {
  position: relative;
  /* max-width: 1920px; */
  width: 100%;
  max-height: 980px;
  width: 100%;
  height: 100%;
}
.swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper .swiper-wrapper .swiper-slide img {
  object-fit: cover;
}

.swiper .swiper-wrapper .swiper-slide .text-wrap {
  z-index: 5;
  position: absolute;
  left: 15%;
  top: 45%;
}

.swiper .swiper-wrapper .swiper-slide .text-wrap .clinic-title {
  line-height: 1.56;
  font-size: 18px;
  letter-spacing: 9px;
  color: #fff;
}
.swiper .swiper-wrapper .swiper-slide .text-wrap .clinic-title span {
  font-size: 18px;
  letter-spacing: 9px;
  color: #fff;
}

.swiper .swiper-wrapper .swiper-slide .text-wrap .text-wrap-title {
  margin-top: 11px;
  font-weight: 200;
  font-size: 56px;
  line-height: 1.29;
  color: #fff;
}
.swiper .swiper-wrapper .swiper-slide .text-wrap p {
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.9;
  color: #fff;
}

/* 마지막 슬라이드 */
.swiper .swiper-wrapper .swiper-slide.last .text-wrap .clinic-title {
  line-height: 1.56;
  font-size: 18px;
  letter-spacing: 9px;
  color: #7a736e;
}
.swiper .swiper-wrapper .swiper-slide.last .text-wrap .clinic-title span {
  font-size: 18px;
  letter-spacing: 9px;
  color: #7a736e;
}
.swiper .swiper-wrapper .swiper-slide.last .text-wrap .wrap {
  text-align: right;
  margin-top: 11px;
}
.swiper .swiper-wrapper .swiper-slide.last .text-wrap .wrap .text-wrap-title {
  font-weight: 200;
  font-size: 56px;
  line-height: 1.29;
  color: #202020;
}
.swiper .swiper-wrapper .swiper-slide.last .text-wrap p {
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.9;
  color: #7a736e;
}

/* 애매함 */
.swiper
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  max-width: 300px;
  left: 15%;
  bottom: 120px;
}
.swiper-pagination-bullet {
  max-width: 64px;
  width: 100%;
  height: 8px;
  border-radius: 0%;
  background: #fff;
  opacity: 0.2;
}
.swiper .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.swiper .quick-form-wrap {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* left: calc(50% - 109px); */
}
.swiper .quick-form-wrap .quick-form-open-btn {
  width: 217px;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  background-color: #75624d;
  border-radius: 8px 8px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px auto;
}
.swiper .quick-form-wrap .quick-form-open-btn p {
  font-size: 16px;
  color: #fff;
}
.swiper .quick-form-wrap .quick-form-open-btn i {
  font-size: 16px;
  color: #fff;
}

.swiper .quick-form-wrap .quick-form.disable {
  display: none;
}

.swiper .quick-form-wrap .quick-form {
  width: 100%;
  background-color: #75624d;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  gap: 16px 16px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* .swiper .quick-form-wrap .quick-form:last-child {
  gap: 82px;
} */

.swiper .quick-form-wrap .quick-form input {
  width: 300px;
  height: 48px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 16px;
}

.swiper .quick-form-wrap .quick-form input::placeholder {
  font-size: 16px;
  color: #aeaeae;
}
.swiper .quick-form-wrap .quick-form .check-wrap {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.swiper .quick-form-wrap .quick-form .check-wrap label {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
.swiper .quick-form-wrap .quick-form .check-wrap label input[type="checkbox"] {
  display: block;
  border-radius: 2px;
  border: solid 1px #e4e4e4;
  background-color: #fff;
  width: 24px;
  height: 24px;
}
.swiper .quick-form-wrap .quick-form .check-wrap label .check-info {
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  opacity: 0.5;
}
.swiper .quick-form-wrap .quick-form .check-wrap .check-info-detail {
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  text-decoration: underline;
}
.swiper .quick-form-wrap .quick-form .btn-submit {
  display: block;
  width: 162px;
  height: 48px;
  padding: 15px auto;
  margin-left: 66px;
  background-color: #3d2a18;
  border-radius: 4px;

  font-size: 16px;
  color: #fff;
}


/* index -> briller 소개 */

.briller-info-section {
  width: 100%;
  height: auto;
  background-color:#fcf9f6;
  margin-left: auto;
  margin-right: auto;
}
.briller-info-section .briller-info {
  max-width: 1500px; 
  /*width 관련 질문*/
  display: flex;
  gap: 120px;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.briller-info-section .briller-info .briller-info-img-wrap {
  max-width: 587px;
  max-height: 892px;
  width: 100%;
  height: 100%;
}
.briller-info-section .briller-info .briller-info-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.briller-info-section .briller-info .briller-info-text-wrap {
  margin-top: 15%;
    /*마진 관련 질문*/
}
.briller-info-section .briller-info .briller-info-text-wrap img{
  width: 80px;
  height: 80px;
}
.briller-info-section .briller-info .briller-info-text-wrap .sub-title {
  margin-top: 27px;
  font-size: 24px;
  line-height: 1.33;
  color: #cac2b9;
} 
.briller-info-section .briller-info .briller-info-text-wrap .title-wrap {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
}
.briller-info-section .briller-info .briller-info-text-wrap .title-wrap .title {
  font-size: 56px;
  line-height: 1.43;
  color: #202020;
}
.briller-info-section .briller-info .briller-info-text-wrap .title-wrap .title-speak {
  font-size: 24px;
  line-height: 1.33;
  color: #aeaeae;
}

.briller-info-section .briller-info .briller-info-text-wrap .text-title {
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.33;
  color: #926c4a;
}
.briller-info-section .briller-info .briller-info-text-wrap .text {
  margin-top: 32px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 300;
  color: #707070;
}

.briller-info-section .briller-info .briller-info-text-wrap .briller-info-viewmore {
  position: relative;
  margin-top: 84px;

  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #afa9a4;
}
.briller-info-section .briller-info .briller-info-text-wrap .briller-info-viewmore::after {
  display: block;
  content: "";
  clear: both;
  width: 56px;
  height: 56px;
  border: solid 1px #afa9a4;
  border-radius: 28px;

  position: absolute;
  top: -13px;
  left: 60px;
}

.briller-info-section .briller-filler {
  /*width 관련 질문*/
  display: flex;
  justify-content: flex-end;
  text-align: right;
  gap: 80px;
  padding-top: 160px;
}
.briller-info-section .briller-filler .briller-filler-img-wrap {
  max-width: 976px;
  max-height: 712px;
  width: 100%;
  height: 100%;
}
.briller-info-section .briller-filler .briller-filler-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.briller-info-section .briller-filler .briller-filler-text-wrap {
  margin-top: 10%;
}

.briller-info-section .briller-filler .briller-filler-text-wrap .signature-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 3.33;
  color: #cac2b9;
}
.briller-info-section .briller-filler .briller-filler-text-wrap .signature-title span {
  font-size: 30px;
  color: #cac2b9;
}
.briller-info-section .briller-filler .briller-filler-text-wrap .title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.67;
  color: #75624d;
}
.briller-info-section .briller-filler .briller-filler-text-wrap .sub-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.58;
  color: #202020;
}
.briller-info-section .briller-filler .briller-filler-text-wrap .text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  color: #202020;
}

.briller-info-section .briller-filler .briller-filler-text-wrap .briller-filler-viewmore {
  position: relative;
  margin-top: 74px;
  margin-right: 43px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #afa9a4;
}
.briller-info-section .briller-filler .briller-filler-text-wrap .briller-filler-viewmore::after {
  display: block;
  content: "";
  clear: both;
  width: 56px;
  height: 56px;
  border: solid 1px #afa9a4;
  border-radius: 28px;

  position: absolute;
  top: -13px;
  left: 60px;
}