<div class="footer-wrap">
  <div class="com-info-wrap">
    <div class="com-logo-wrap">
      <a href="../index.html">
        <img src="../images/logo.png" alt="브리에의원" />
      </a>
    </div>

    <div class="com-info-text-wrap">
      <div class="com-info-text">
        <p class="font-pl">
          상호명 : 브리에의원 &nbsp;|&nbsp; 대표 : 차정윤 &nbsp;<span class="only-pc">|</span>&nbsp;
          <br class="only-mobile" />대표번호 : 02-2038-7387
          <br class="only-pc" />
          <br class="only-mobile" />사업자번호 : 238-33-01204 &nbsp;<span class="only-pc">|</span>&nbsp;
          <br class="only-mobile" />주소 :서울특별시 강남구 선릉로 806 킹콩빌딩
          6층
        </p>
      </div>
      <div class="com-info-text last">
        <div class="btn-wrap">
          <button>
            <a href="../about_sub01.html" class="font-pl">병원소개</a>
          </button>
          <button><a href="" class="font-pl">이용약관</a></button>
          <button><a href="" class="font-pl last">개인정보취급방침</a></button>
        </div>
        <p class="copyright font-pl">
          Copyright 2024 Briller clinic All rights reserved.
        </p>
      </div>
    </div>
  </div>
  <div class="com-sns-wrap">
    <a
      href="https://booking.naver.com/booking/13/bizes/1063020
    "
    >
      <img src="../images/footer_blog.png" alt="네이버블로그" />
    </a>
    <a
      href="https://www.instagram.com/briller_clinic/
    "
    >
      <img src="../images/footer_insta.png" alt="인스타그램" />
    </a>
    <a href="https://www.threads.net/@briller_clinic">
      <img src="../images/footer_threads.png" alt="스레드" />
    </a>
  </div>
</div>
