<div class="logo-img-wrap">
  <img src="../images/logo.png" alt="브리에 로고" />
</div>

<div class="menu">
  <button class="lang-wrap">
    <a href="http://">
      <img src="../images/korea.png" alt="한국어" />
    </a>
  </button>
  <button class="lang-wrap">
    <a href="http://">
      <img src="../images/china.png" alt="중국어" />
    </a>
  </button>
  <button class="lang-wrap">
    <a href="http://">
      <img src="../images/japan.png" alt="일본어" />
    </a>
  </button>
  <button class="lang-wrap">
    <a href="http://">
      <img src="../images/USA.png" alt="영어" />
    </a>
  </button>

  <button class="ham-menu-img-wrap">
    <i class="xi-bars"></i>
  </button>
</div>

<nav class="header-main-nav">
    <button class="main-nav-btn font-pm">
      <a href="http://"> BRILLER </a>
    </button>
    <button class="main-nav-btn font-pm">
      <a href="http://"> SIGNATURE </a>
    </button>
    <button class="main-nav-btn font-pm">
      <a href="http://"> LIFTING </a>
    </button>
    <button class="main-nav-btn font-pm">
      <a href="http://"> FACE/BODY </a>
    </button>
    <button class="main-nav-btn font-pm">
      <a href="http://"> SKIN </a>
    </button>
    <button class="main-nav-btn font-pm">
      <a href="http://"> PIGMENTATION </a>
    </button>
    <button class="main-nav-btn font-pm">
      <a href="http://"> PROMOTION </a>
    </button>
  </nav>
