<button class="sns-open">
  <i class="xi-bars"></i>
</button>

<div id="sns-btn-wrap" class="sns-btn-wrap disable">
  <a href="https://pf.kakao.com/_SxoqXG" target="_blank">
    <button class="sns-btn">
      <img src="../images/kakao.png" alt="카카오톡 문의" />
      <p class="sns-btn-text font-pl">카카오톡 문의</p>
    </button>
  </a>
  <a href="https://booking.naver.com/booking/13/bizes/1063020" target="_blank">
    <button class="sns-btn">
      <img src="../images/naver.png" alt="네이버 예약" />
      <p class="sns-btn-text font-pl">네이버 예약</p>
    </button>
  </a>

  <button class="sns-btn wechat">
    <img src="../images/wechat.png" alt="위챗" />
    <p class="sns-btn-text font-pl">위챗</p>
  </button>

  <button class="sns-btn line">
    <img src="../images/line.png" alt="라인" />
    <p class="sns-btn-text font-pl">라인</p>
  </button>

  <a href="https://blog.naver.com/brillerclinic3" target="_blank">
    <button class="sns-btn">
      <img src="../images/blog.png" alt="네이버블로그" />
      <p class="sns-btn-text font-pl">네이버블로그</p>
    </button>
  </a>

  <div class="we-qr-img">
    <div class="title font-pb">WeChat 연결하기</div>

    <div class="img-wrap">
      <img src="./images/qr/wechat.png" alt="wechat qr" />
    </div>

    <div class="text-wrap">
      <h4 class="text-title font-pb">BRILLER CLINIC</h4>
      <p class="text font-pr">
        카메라로 QR코드를 인식하면<br />
        위챗으로 연결 됩니다.
      </p>
    </div>

    <button class="we-close font-pm">확인</button>
  </div>

  <div class="line-qr-img">
    <div class="title font-pb">Line 연결하기</div>

    <div class="img-wrap">
      <img src="./images/qr/line.png" alt="line qr" />
    </div>

    <div class="text-wrap">
      <h4 class="text-title font-pb">BRILLER CLINIC</h4>
      <p class="text font-pr">
        카메라로 QR코드를 인식하면<br />
        위챗으로 연결 됩니다.
      </p>
    </div>

    <button class="line-close font-pm">확인</button>
  </div>
</div>

<button class="Top_Scroll_btn">
  <i class="xi-arrow-up"></i>
  <div class="progress_bar"></div>
</button>

<script>
  const weChatBtn = document.querySelector(".sns-btn.wechat");
  const weChatPop = document.querySelector(".we-qr-img");
  const weChatCloseBtn = document.querySelector(".we-close");

  const lineBtn = document.querySelector(".sns-btn.line");
  const linePop = document.querySelector(".line-qr-img");
  const lineCloseBtn = document.querySelector(".line-close");

  const bg = document.querySelector(".qr-background");

  weChatBtn.addEventListener("click", () => {
    weChatPop.style.display = "block";
    linePop.style.display = "none";
    bg.style.display = "block";
  });

  weChatCloseBtn.addEventListener("click", () => {
    weChatPop.style.display = "none";
    bg.style.display = "none";
  });

  lineBtn.addEventListener("click", () => {
    linePop.style.display = "block";
    weChatPop.style.display = "none";
    bg.style.display = "block";
  });

  lineCloseBtn.addEventListener("click", () => {
    linePop.style.display = "none";
    bg.style.display = "none";
  });

  const toggleBtn = document.querySelector(".sns-open");
  const toggleBtnIcon = document.querySelector(".sns-open i");

  window.addEventListener("load", () => {
    if (window.innerWidth <= 767) {
        toggleBtn.style.bottom = "128px";
      } else {
        toggleBtn.style.bottom = "112px";
      }
  })

  toggleBtn.addEventListener("click", () => {
    if (toggleBtnIcon.className === "xi-bars") {
      if (window.innerWidth <= 767) {
        toggleBtn.style.bottom = "448px";
      } else {
        toggleBtn.style.bottom = "432px";
      }

      toggleBtnIcon.className = "xi-close";
    } else {
      if (window.innerWidth <= 767) {
        toggleBtn.style.bottom = "128px";
      } else {
        toggleBtn.style.bottom = "112px";
      }
      toggleBtnIcon.className = "xi-bars";

      weChatPop.style.display = "none";
      linePop.style.display = "none";
      bg.style.display = "none";
    }

    const btns = document.querySelector(".sns-btn-wrap");

    if (btns.classList.contains("disable")) {
      btns.classList.remove("disable");
      btns.classList.add("active");
    } else {
      btns.classList.remove("active");
      btns.classList.add("disable");
    }
  });
</script>

<script>
  $(".Top_Scroll_btn").click(function () {
    $("html").scrollTop(0);
  });

  $(document).scroll(function () {
    if ($(document).scrollTop() > 88) {
      $(".Top_Scroll_btn").addClass("active");
    } else {
      $(".Top_Scroll_btn").removeClass("active");
    }
  });

  $(document).ready(function () {
    $(window).scroll(function () {
      var scrollPercent =
        ($(window).scrollTop() / ($(document).height() - $(window).height())) *
        100;
      var color = getColorFromPercentage(scrollPercent);

      $(".Top_Scroll_btn .progress_bar").css(
        "background",
        "conic-gradient(" +
          color +
          " 0% " +
          scrollPercent +
          "%, #fff " +
          scrollPercent +
          "% 100%)"
      );
    });

    function getColorFromPercentage(percentage) {
      var startColor = [256, 256, 256]; // RGB 값으로 작성해야함!
      var endColor = [174, 174, 174];

      var color = [];
      for (var i = 0; i < 3; i++) {
        color[i] = Math.round(
          startColor[i] + (endColor[i] - startColor[i]) * (percentage / 100)
        );
      }

      return "rgb(" + color.join(",") + ")";
    }
  });
</script>
